In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
	{"a" : [4 ,5, 6],
	"b" : [7, 8, 9],
	"c" : [10, 11, 12]},
index = [1, 2, 3])

In [4]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [5]:
df['A']

KeyError: 'A'

In [ ]:
df[['a','b']]

In [ ]:
df.loc[1]

In [ ]:
df.loc[1, 'a']

In [ ]:
df.loc[[1,2], ['a','b']]

In [ ]:
df = pd.DataFrame(
	[[4, 7, 10],
	[5, 8, 11],
	[6, 9, 12]],
	columns=['a', 'b', 'c'])

df

In [ ]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2)], names=['n','v']))
df

In [ ]:
df[df.b > 8]

In [6]:
df['b'] > 8

1    False
2    False
3     True
Name: b, dtype: bool

In [7]:
df[df['b'] > 8]

   a  b   c
3  6  9  12

In [8]:
df[df['b'] != 8]

   a  b   c
1  4  7  10
3  6  9  12

In [9]:
df.b.isin?

In [10]:
df.b.isin([8])

1    False
2     True
3    False
Name: b, dtype: bool

In [11]:
df[df.b.isin([8])]

   a  b   c
2  5  8  11

In [12]:
pd.isnull(df)

       a      b      c
1  False  False  False
2  False  False  False
3  False  False  False

In [13]:
df.isna()

       a      b      c
1  False  False  False
2  False  False  False
3  False  False  False

In [15]:
df2 = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, None, 9],
    "c" : [10, 11, None]},
    index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2)], names=['n','v']))
df2

     a    b     c
n v
d 1  4  7.0  10.0
  2  5  NaN  11.0
e 2  6  9.0   NaN

In [16]:
pd.isnull(df2)

         a      b      c
n v
d 1  False  False  False
  2  False   True  False
e 2  False  False   True

In [17]:
df2.isna()

         a      b      c
n v
d 1  False  False  False
  2  False   True  False
e 2  False  False   True

In [21]:
pd.notnull(df2)

        a      b      c
n v
d 1  True   True   True
  2  True  False   True
e 2  True   True  False

In [22]:
df2[df2['b'].isnull()]

     a   b     c
n v
d 2  5 NaN  11.0

In [23]:
& : and
| : or
~ : not
^ : xor

SyntaxError: invalid syntax (<ipython-input-23-e09681ad2c3d>, line 1)

In [24]:
df2

     a    b     c
n v
d 1  4  7.0  10.0
  2  5  NaN  11.0
e 2  6  9.0   NaN

In [25]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [26]:
df[df['b'] == 7] | df[df['a'] == 5]

      a   b   c
n v
d 1 NaN NaN NaN
  2 NaN NaN NaN

In [27]:
df2[df2.b == 7] | df2[df2.a == 4]

TypeError: unsupported operand type(s) for |: 'float' and 'bool'

In [ ]:
df2[df2.b == 7] & df2[df2.a == 4]

In [28]:
df2[df2.a == 4]

     a    b     c
n v
d 1  4  7.0  10.0

In [29]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6, 4],
    "b" : [7, 8, 9, 7],
    "c" : [10, 11, 12, 10]},
    index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2),('e',3)], names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  4  7  10

In [30]:
df.drop_duplicates?

In [31]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  4  7  10

In [32]:
df = df.drop_duplicates()
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [33]:

df = pd.DataFrame(
    {"a" : [4 ,5, 6, 4],
    "b" : [7, 8, 9, 7],
    "c" : [10, 11, 12, 10]},
    index = pd.MultiIndex.from_tuples([('d',1),('d',2),('e',2),('e',3)], names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  4  7  10

In [34]:
df.drop_duplicates(keep='last')

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12
  3  4  7  10

In [35]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  4  7  10

In [36]:
df.sum()

a    19
b    31
c    43
dtype: int64

In [37]:
df.sum(axis=1)

n  v
d  1    21
   2    24
e  2    27
   3    21
dtype: int64

In [38]:
df.cumsum()

      a   b   c
n v
d 1   4   7  10
  2   9  15  21
e 2  15  24  33
  3  19  31  43

In [39]:
df.cumsum(axis=1)

     a   b   c
n v
d 1  4  11  21
  2  5  13  24
e 2  6  15  27
  3  4  11  21

In [40]:
df.mean()

a     4.75
b     7.75
c    10.75
dtype: float64

In [41]:
df.mean(axis=1)

n  v
d  1    7.0
   2    8.0
e  2    9.0
   3    7.0
dtype: float64

In [47]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  4  7  10

In [42]:
df.sort_values('a')

     a  b   c
n v
d 1  4  7  10
e 3  4  7  10
d 2  5  8  11
e 2  6  9  12

In [43]:
df.sort_values('a', ascending=False)

     a  b   c
n v
e 2  6  9  12
d 2  5  8  11
  1  4  7  10
e 3  4  7  10

In [48]:
df.sort_values(by=['c','a'])

     a  b   c
n v
d 1  4  7  10
e 3  4  7  10
d 2  5  8  11
e 2  6  9  12

In [44]:
df.sort_values('a')[::-1]

     a  b   c
n v
e 2  6  9  12
d 2  5  8  11
e 3  4  7  10
d 1  4  7  10